# Neovim runtime/state
nvim/lua/local.lua
**/.netrwhist
**/*.swp
**/*.swo
**/undo/*
**/swap/*
**/backup/*
**/shada/*

# Fish shell runtime/state
fish/fish_variables
fish/fishd.tmp.*

# Neovim plugin lock file
nvim/lazy-lock.json

# VSCode settings
.vscode/
