[Unit]
Description=Posture check every 45 minutes

[Timer]
OnBootSec=40min
OnUnitActiveSec=40min
RandomizedDelaySec=10min
Persistent=false

[Install]
WantedBy=timers.target
