[Unit]
Description=Check for system updates daily
Requires=arch-update.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
