{
  "commit-commands": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "context7": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "frontend-design": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "github": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "php-lsp": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "pyright-lsp": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "security-guidance": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "serena": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "lua-lsp": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  },
  "gopls-lsp": {
    "overrides": [
      {{ ai_tools_qwen_extension_workspace_override | to_json }}
    ]
  }
}
