*
!.gitignore

# Custom fish functions
!fan.fish
!.extract.fish
!sysinfo.fish
!trash.fish
!is_laptop.fish
!system-upgrade.fish
!refactor.fish
!system-cleanup.fish
!companion_emit.fish
!companion_classify_command.fish
