@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    all: unset;
    font-size: 14px;
    font-family: 'JetBrainsMono Nerd Font';
    transition: 200ms;
}

trough highlight {
    background: @blue;
}

scale {
    margin: 0 7px;
}

scale trough {
    margin: 0rem 1rem;
    min-height: 8px;
    min-width: 70px;
    border-radius: 20px;
}

trough slider {
    margin: -10px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease;
    background-color: @blue;
}

trough slider:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 8px @blue;
}

trough {
    background-color: @surface0;
}

/* notifications */
.notification-background {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border: 1px solid @surface1;
    border-radius: 20px;
    margin: 18px;
    background: @mantle;
    color: @text;
    padding: 0;
}

.notification-background .notification {
    padding: 7px;
    border-radius: 20px;
}

.notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 @red;
}

.notification .notification-content {
    margin: 7px;
}

.notification .notification-content overlay {
    /* icons */
    margin: 4px;
}

.notification-content .summary {
    color: @text;
}

.notification-content .time {
    color: @subtext0;
}

.notification-content .body {
    color: @subtext1;
}

.notification > *:last-child > * {
    min-height: 3.4em;
}

.notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 14px;
    color: @base;
    background-color: @red;
}

.notification-background .close-button:hover {
    background-color: @maroon;
}

.notification-background .close-button:active {
    background-color: @pink;
}

.notification .notification-action {
    border-radius: 14px;
    color: @text;
    border: 1px solid @surface1;
    margin: 4px;
    padding: 8px;
    font-size: 0.2rem; /* controls the button size not text size*/
}

.notification .notification-action {
    background-color: @surface0;
}

.notification .notification-action:hover {
    background-color: @surface1;
}

.notification .notification-action:active {
    background-color: @surface2;
}

.notification.critical progress {
    background-color: @red;
}

.notification.low progress,
.notification.normal progress {
    background-color: @blue;
}

.notification progress,
.notification trough,
.notification progressbar {
    border-radius: 20px;
    padding: 3px 0;
}

/* control center */
.control-center {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border: 1px solid @surface0;
    border-radius: 20px;
    background-color: @base;
    color: @text;
    padding: 14px;
}

.control-center .notification-background {
    border-radius: 14px;
    border: 1px solid @surface1;
    margin: 4px 10px;
}

.control-center .notification-background .notification {
    border-radius: 14px;
}

.control-center .notification-background .notification.low {
    opacity: 0.8;
}

.control-center .widget-title > label {
    color: @text;
    font-size: 1.3em;
}

.control-center .widget-title button {
    border-radius: 14px;
    color: @text;
    background-color: @surface0;
    border: 1px solid @surface1;
    padding: 8px;
}

.control-center .widget-title button:hover {
    background-color: @surface1;
}

.control-center .widget-title button:active {
    background-color: @surface2;
}

.control-center .notification-group {
    margin-top: 10px;
}

.control-center .notification-group:focus .notification-background {
    background-color: @surface0;
}

scrollbar slider {
    margin: -3px;
    opacity: 0.8;
}

scrollbar trough {
    margin: 2px 0;
}

/* dnd */
.widget-dnd {
    margin: 1rem 0;
    border-radius: 8px;
    font-size: 1.1rem;
}

.widget-dnd > switch {
    font-size: initial;
    border-radius: 8px;
    background: @surface0;
    box-shadow: none;
}

.widget-dnd > switch:checked {
    background: @blue;
}

.widget-dnd > switch slider {
    background: @surface1;
    border-radius: 8px;
}

/* mpris */
.widget-mpris-player {
    background: @surface0;
    border-radius: 20px;
    color: @text;
}

.mpris-overlay {
    background-color: @surface0;
    opacity: 0.9;
    padding: 15px 10px;
}

.widget-mpris-album-art {
    -gtk-icon-size: 100px;
    border-radius: 20px;
    margin: 0 10px;
}

.widget-mpris-title {
    font-size: 1.2rem;
    color: @text;
}

.widget-mpris-subtitle {
    font-size: 1rem;
    color: @subtext1;
}

.widget-mpris button {
    border-radius: 20px;
    color: @text;
    margin: 0 5px;
    padding: 2px;
}

.widget-mpris button image {
    -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
    background-color: @surface0;
}

.widget-mpris button:active {
    background-color: @surface1;
}

.widget-mpris button:disabled {
    opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
    font-size: 3rem;
    padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
    color: @red;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
    background: @surface0;
}

.control-center .widget-label > label {
    color: @text;
    font-size: 2rem;
}

.widget-volume {
    padding: 1rem 0;
}

.widget-volume label {
    color: @sapphire;
    padding: 0 1rem;
}

.widget-volume trough highlight {
    background: @sapphire;
}

.widget-backlight trough highlight {
    background: @yellow;
}

.widget-backlight label {
    font-size: 1.5rem;
    color: @yellow;
}

.widget-backlight .KB {
    padding-bottom: 1rem;
}

.image {
    padding-right: 0.5rem;
}

/* Buttons Grid */

.widget-buttons-grid {
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: @surface0;
    padding: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    border: none;
    background-color: unset;
    border-radius: 0.8rem;
    padding: 0.4rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border: 1px solid @surface1;
}

.widget-buttons-grid > flowbox > flowboxchild > button:first-child {
    margin-left: unset;
}

.widget-buttons-grid > flowbox > flowboxchild > button:last-child {
    margin-right: unset;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
    font-family: 'Materials Symbol Rounded';
    font-size: 2rem;
    color: @text;
    padding: 0;
    margin: 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background-color: @surface1;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
    background-color: @blue;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked label {
    color: @crust;
}
