@import 'mocha.css';

window#osd {
    border-radius: 1rem;
    border: 2px solid @lavender;
    background: @base;
    padding: 2px;
}

window#osd #container {
    margin: 8px;
    padding: 4px;
    background: transparent;
}

window#osd image {
    -gtk-icon-transform: scale(0.8);
    color: @lavender;
}

window#osd label {
    color: @text;
    font-family: 'JetBrains Mono Nerd Font';
    font-size: 14px;
    font-weight: bold;
}

window#osd progressbar {
    min-height: 8px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @surface0;
}

window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @lavender;
}
