[Unit]
Description=Battery level notifications
Documentation=man:batsignal(1)

[Service]
Type=simple
ExecStart=/usr/bin/batsignal -w 20 -c 10 -d 5 -f 90 -W "Battery Low" -C "Battery Critical" -F "Battery Full" -D "Unplug charger"
Restart=on-failure

[Install]
WantedBy=default.target
