[Unit]
Description=NVIDIA GPU Fan Control
Documentation=man:nvidia-settings(1)
ConditionPathExists=/sys/class/power_supply
ConditionPathExists=!/sys/class/power_supply/BAT0
ConditionPathExists=!/sys/class/power_supply/BAT1
After=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/nvidia-settings -a "[gpu:0]/GPUFanControlState=1" -a "[fan:0]/GPUTargetFanSpeed=40"
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
SuccessExitStatus=0 1

[Install]
WantedBy=graphical-session.target
