[Unit]
Description=Water drinking reminder every hour

[Timer]
OnBootSec=55min
OnUnitActiveSec=55min
RandomizedDelaySec=10min
Persistent=false

[Install]
WantedBy=timers.target
