---
# Encrypted with ansible-vault
# To edit: just vault-edit
# To create: just vault-create

# WireGuard keys (per-host)
vault_wg_private_key_saga: "CHANGEME"
vault_wg_address_saga: "CHANGEME"
vault_wg_private_key_desktop: "CHANGEME"
vault_wg_address_desktop: "CHANGEME"

# WireGuard shared
vault_wg_dns: "CHANGEME"
vault_wg_peer_public_key: "CHANGEME"
vault_wg_endpoint: "CHANGEME"
