---
# WireGuard
vault_wg_private_key: "CHANGEME"
vault_wg_address: "CHANGEME"
vault_wg_dns: "CHANGEME"
vault_wg_peer_public_key: "CHANGEME"
vault_wg_preshared_key: "CHANGEME"
vault_wg_persistent_keepalive: 0
vault_wg_endpoint: "CHANGEME"
