[Unit]
Description=Pacman mirrorlist update with reflector
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --country Russia --latest 10 --age 24 --sort rate --save /etc/pacman.d/mirrorlist
