[Unit]
Description=SpoofDPI bypass service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/spoofdpi{% if network_spoofdpi_args | trim %} {{ network_spoofdpi_args | trim }}{% endif %}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
