[Interface]
PrivateKey = {{ vault_wg_private_key }}
Address = {{ vault_wg_address }}
DNS = {{ vault_wg_dns }}

[Peer]
PublicKey = {{ vault_wg_peer_public_key }}
Endpoint = {{ vault_wg_endpoint }}
AllowedIPs = 0.0.0.0/0, ::/0
