[Interface]
{% set wg_addresses = network_wireguard_profile.address if network_wireguard_profile.address is string else (network_wireguard_profile.address | join(', ')) %}
{% set wg_allowed_ips = network_wireguard_profile.allowed_ips | default(['0.0.0.0/0', '::/0']) %}
PrivateKey = {{ network_wireguard_profile.private_key }}
Address = {{ wg_addresses }}
{% if network_wireguard_profile.dns is defined %}
DNS = {{ network_wireguard_profile.dns if network_wireguard_profile.dns is string else (network_wireguard_profile.dns | join(', ')) }}
{% endif %}

[Peer]
PublicKey = {{ network_wireguard_profile.peer_public_key }}
{% if network_wireguard_profile.preshared_key | default('') != '' %}
PresharedKey = {{ network_wireguard_profile.preshared_key }}
{% endif %}
{% if network_wireguard_profile.persistent_keepalive is defined %}
PersistentKeepalive = {{ network_wireguard_profile.persistent_keepalive }}
{% endif %}
Endpoint = {{ network_wireguard_profile.endpoint }}
AllowedIPs = {{ wg_allowed_ips if wg_allowed_ips is string else (wg_allowed_ips | join(', ')) }}
